# No queremos que se suban los .csv
*.csv
*.txt

# Configuracion del entorno
/.vscode

# No añadimos el bootstrap 
bootstrap.css

# No meter comprimidos
*.zip
*.rar

# No subir imágenes
ut4/Blog/images
ut4/login_sesiones/img